@()

@main(Messages("app.title")) {
    
    <!-- Call to action -->
    <div class="hero-unit">
        <h1>@Messages("app.title")</h1>
        <p>@Messages("app.index.intro")</p>
        <br/>
        <a class="btn btn-large btn-warning" href="@routes.Application.signup()">@Messages("playauthenticate.navigation.signup") &raquo;</a>
    </div>

    <!-- Example row of columns -->
    <div class="row">
        <div class="span4">
            <h2>@Messages("app.index.heading1")</h2>
            <p>@Messages("app.index.content1")</p>
        </div>
        <div class="span4">
            <h2>@Messages("app.index.heading2")</h2>
            <p>@Messages("app.index.content2")</p>
        </div>
        <div class="span4">
            <h2>@Messages("app.index.heading3")</h2>
            <p>@Messages("app.index.content3")</p>

        </div>
    </div>

}
