@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

        @* Retrieve css/Javascript dependencies via WebJars *@
        <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("css/bootstrap.min.css"))'>
        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))'></script>
        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("js/bootstrap.min.js"))'></script>

        @* Local css/ Javascript *@
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        @* Bootstrap margin fix *@
        <style type="text/css">
            body {
                margin-top: 50px;
            }
        </style>
    </head>
    <body>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <a id="titleLink" class="brand" href="/">@Messages("app.title")</a>
                </div>
            </div>
        </div>

        <div class="container">
            @content
        </div>

    </body>
</html>
